name: ossfs test

on:
  pull_request:
    branches:
      - main 
  push:
    branches:
      - main

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install ".[tests]"
    - uses: pre-commit/action@v2.0.2

  tests:
    name: ${{ matrix.os }} Python-${{ matrix.pyv}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        pyv: ["3.6", "3.7", "3.8", "3.9"]
        os: [ubuntu-18.04, windows-2019, macos-10.15]
        exclude:
        - os: macos-10.15
          pyv: "3.9"
      max-parallel: 2

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.pyv }}
      - name: get pip cache dir
        id: pip-cache-dir
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
      - name: set pip cache
        id: pip-cache
        uses: actions/cache@v2.1.6
        with:
          path: ${{ steps.pip-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install ".[tests]"
      - name: Run Tests
        env:
          OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID}}
          OSS_SECRET_ACCESS_KEY: ${{ secrets.OSS_SECRET_ACCESS_KEY}}
          OSS_TEST_STS_ID: ${{ secrets.OSS_TEST_STS_ID}}
          OSS_TEST_STS_KEY: ${{ secrets.OSS_TEST_STS_KEY}}
          OSS_TEST_STS_ARN: ${{ secrets.OSS_TEST_STS_ARN}}
          OSS_ENDPOINT: ${{ secrets.OSS_ENDPOINT}}
          OSS_TEST_BUCKET_NAME: ${{ secrets.OSS_TEST_BUCKET_NAME}}
        shell: bash -l {0}
        run: pytest tests -vv
